<div 
    class="flex h-full w-full flex-col gap-y-4 bg-contain bg-no-repeat bg-center" 
    style="background-image: url('https://cdn.shopify.com/s/files/1/1464/5034/files/Coastal_223f35e7-ff0d-474c-99b0-270ba3a38d75.jpg?v=1724191607');"
    >
  <div class="relative max-md:mb-[170px] max-md:h-[31.25rem] md:max-lg:aspect-[1/1] md:max-lg:max-h-full md:max-lg:h-full lg:h-[43.75rem]">
    <div>
      <div class="absolute inset-0 z-10 m-4 mx-[17px] flex w-auto flex-col justify-end gap-y-3 max-md:bottom-[-170px] max-md:text-primary md:m-[44px] md:mx-[34px]">
        <div class="p-8 mb-4">
          <p class="text-white text-base max-lg:mb-2 md:mb-4">Coastal Comfort, Everyday Style</p>
          <h2 class="text-white text-2xl font-bold mb-2">Coastal Comfort, Everyday Style</h2>
        </div>

        <button aria-label="Read More" class="btn-primary bg-white font-karla py-6 text-primary relative w-full" type="submit">
            <p class="transition">Read More</p>
        </button>
      </div>
    </div>
  </div>
</div>
