<div>
  <header class="header">
    <div class="header__logo">
      <a href="/" class="header__logo-link">
        {{ shop.name }}
      </a>
    </div>
    <nav class="header__nav">
      <ul class="header__nav-list text-[{{ section.settings.text_color }}]">
        <li class="header__nav-item">
          <a href="/collections/all" class="header__nav-link">Shop</a>
        </li>
        <li class="header__nav-item">
          <a href="/pages/account" class="header__nav-link">account</a>
        </li>
        <li class="header__nav-item">
          <a href="/pages/cart" class="header__nav-link">cart</a>
        </li>
      </ul>
    </nav>
  </header>
  <p>Snippet header.liquid rendered</p>
</div>
